{% load static %}
<!--album_list.html-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>The Chris List</title>
</head>

<body>
    <h1 class="main-title">The Chris List</h1>
    <div class="album-container">
        {% for album in albums %}
        <div class="album-box-circle" style="background-image: url('{% static 'albums/vinyl.png' %}')">
            <a href="{% url 'album_detail' album.pk %}" class="album-box-link">
                <h2 class="album-title">{{ album.title }}</h2>
                <p class="album-artist">{{ album.artist }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="footer-box">
        <a href="{% url 'create_album' %}">Create New Album</a>
    </div>
</body>

</html>