{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Album Detail</title>
</head>

<body>
    <h1 class="main-title">Album Detail</h1>
    <div class="album-container">
        <div class="album-box-circle" style="background-image: url('{% static 'albums/vinyl.png' %}')">
            <h2 class="album-title">{{ album.title }}</h2>
            <p class="album-artist">{{ album.artist }}</p>
            <p class="album-created-at">Created At: {{ album.created_at }}</p>
            <a href="{% url 'edit_album' album.pk %}" class="button">Edit Album</a>
            <a href="{% url 'delete_album' album.pk %}" class="button">Delete Album</a>
            <a href="{% url 'album_list' %}" class="button">Back to Album List</a>
        </div>
    </div>
</body>

</html>