<!--album_detail.html-->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Album Detail</title>
</head>

<body>
    <h1 class="main-title">Album Details</h1>
    <h1 class="main-title">title: {{ album.title }}</h1>
    <div class="detail-container">
        <div class="album-box-circle" style="background-image: url('{% static 'albums/vinyl.png' %}')">
            <p class="album-text">{{ album.artist }}</p>
            <h2 class="album-text">{{ album.title }}</h2>
            <p class="album-text">Created At: {{ album.created_date }}</p>
        </div>
        <div class="footer-box">
            <a href="{% url 'edit_album' album.pk %}" class="button">Edit Album</a>
            <a href="{% url 'delete_album' album.pk %}" class="button">Delete Album</a>
            <a href="{% url 'album_list' %}" class="button">Back to Album List</a>
        </div>
        <!--Below this line is new-->
        <div class="other-albums">
            <h3 class="other-albums-title">Other albums by {{ album.artist }}:</h3>
            <ul class="other-albums-list">
                {% for}
            </ul>
        </div>
    </div>

</body>

</html>