{% load static %}
<!--base.html-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>The Chris List</title>
</head>

<body>
    <div class="page-container">
        <div class="header">
            <h1 class="main-title">The Chris List</h1>
        </div>
        <div class="login-box">
            <div class="login">
                {% block content %}
                <!--will contain login-->
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>